body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .hero-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, transparent, #4F4557), url("img/359506780_18239081959206729_7462022212390940066_n.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #F4EEE0;
    column-gap: 50px;
  }
  
  .hero-section h5 {
    font-size: 18px;
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin-top: 20px;
  }
  
  .hero-section img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
  
  .hero-section p {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .hero-section .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .hero-section .button:hover {
    background-color: #f1f1f1;
  }
  
  #particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  